<div id="private-layout-two-column" class="container-fluid " >
        
        <div class="header-wrapper row">
            <public-header></public-header>
        </div>
    
        <div class="nav-wrapper row">
            <private-nav></private-nav>
        </div>
        
        <div class="central-wrapper row">
            <aside class="col-xs-12 col-lg-3">
                <private-aside></private-aside>
            </aside>
    
            <section class="col-xs-12 col-lg-6">
                <article>
                    <header>
                        <h2>Bienvenido a la Tienda.</h2>
                    </header>
                    <form name="tiendaForm">
                    <p>
                        <ul style="list-style: none;">
                            <li ng-repeat="producto in tiendaCtrl.productos track by $index">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img src="{{producto.urlImagen}}" width="150px">
                                    </div>
                                    <div class="col-md-6"> 
                                        <strong>"{{producto.nombre}}"| Precio: {{producto.moneda+" "+producto.precio}}</strong>|{{producto.desc}}
                                    </div>
                                    <div class="col-md-1 form-group">
                                        <input name="cantidad{{$index}}"  ng-model="tiendaCtrl.cantidad[$index]"  type="number" min="1" max="5" required>
                                    </div>
                                    <div class="col-md-2">
                                        <button class="btn btn-success" ng-click="tiendaCtrl.addItem(producto,$index)" type="button" ng-disabled="tiendaForm.cantidad{{$index}}.$invalid">Agregar</button> 
                                    </div>
                                </div><br>
                            </li>
                        </ul>
                    </p>
                </form>
                </article>
            </section>
            <aside class="col-xs-12 col-lg-3">
                <div style="background-color:aliceblue">
                    <h4>Carrito</h4>
                    <table class="table table-striped" ng-if="tiendaCtrl.carrito.cantidadTotal > 0">
                        <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="item in tiendaCtrl.carrito.items">
                        <tr>
                            <td>{{item.nombre}}</td>
                            <td>{{item.precio}}</td>
                            <td>{{item.cantidad}}</td>
                            <td><button class="btn btn-danger" ng-click="tiendaCtrl.remove(item)" type="button">Eliminar</button> </td>
                        </tr>
                        </tbody>
                        <tfoot>
                            <td>Total: </td>
                            <td>{{tiendaCtrl.carrito.precioTotal}}</td>
                            <td>{{tiendaCtrl.carrito.cantidadTotal}}</td>
                            <td><button class="btn btn-success" ng-click="tiendaCtrl.compra()" type="button">Comprar</button></td>
                        </tfoot>
                    </table>
                </div>
            </aside>
        </div>
        
        <div class="footer-wrapper row">
            <footer class="col-xs-12">
                    <header>
                        <h2>Links Oficiales</h2>
                    </header>
                    <a href="#/">Inicio</a> |
                    <a href="http://www.queenonline.com/" target="_blank">Sitio Oficial</a> | 
                    <a href="#/contacto">Contacto</a>
            </footer>
        </div>
    
    </div>