<div id="private-layout-two-column" class="container-fluid " >
        
        <div class="header-wrapper row">
            <public-header></public-header>
        </div>
    
        <div class="nav-wrapper row">
            <private-nav></private-nav>
        </div>
        
        <div class="central-wrapper row">
            <aside class="col-xs-12 col-lg-3">
                <private-aside></private-aside>
            </aside>
            <header>
                <h2>Bienvenido a la Tienda.</h2>
            </header>
            <section class="col-xs-12 col-lg-6">
                <article>
                    <p>
                        <ul style="list-style: none;">
                            <li ng-repeat="producto in tiendaCtrl.productos track by $index">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img src="{{producto.urlImagen}}" width="150px">
                                    </div>
                                    <div class="col-md-6"> 
                                        <strong>"{{producto.nombre}}"| Precio: {{producto.moneda+" "+producto.precio}}</strong>|{{producto.desc}}
                                        
                                    </div>
                                    <form name="tiendaCtrl.tiendaForm{{$index}}" class="form-inline" novalidate>
                                        <div class="form-group col-md-3" ng-class="tiendaCtrl.tiendaForm{{$index}}.qty_{{$index}}.$invalid && tiendaCtrl.tiendaForm{{$index}}.qty_{{$index}}.$touched && !tiendaCtrl.tiendaForm{{$index}}.qty_{{$index}}.$error.required ?'has-error':'' ">
                                            <input class="form-control" type="number" min="1" max="5"  name="qty_{{$index}}" ng-model="tiendaCtrl.cant[$index]" required>
                                            <button class="btn btn-success" ng-click="tiendaCtrl.addItem($index)" ng-disabled="tiendaCtrl.tiendaForm{{$index}}.$invalid">Agregar</button>
                                        </div>
                                    </form>
                                </div><br>
                            </li>
                        </ul>
                    </p>
                </article>
            </section>
            <aside class="col-xs-12 col-lg-3">
                <div style="background-color:aliceblue">
                    <h4>Carrito</h4>
                    <span ng-if="tiendaCtrl.carrito.cantidadTotal == 0 && tiendaCtrl.compraExitosa==false">
                        No hay items en el Carrito
                    </span>
                    <table class="table table-striped" ng-if="tiendaCtrl.carrito.cantidadTotal > 0">
                        <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="item in tiendaCtrl.carrito.items">
                        <tr>
                            <td>{{item.nombre}}</td>
                            <td>{{item.moneda}}{{item.precio * item.cantidad}}</td>
                            <td>{{item.cantidad}}</td>
                            <td><button class="btn btn-danger" ng-click="tiendaCtrl.remove($index)" type="button">Eliminar</button> </td>
                        </tr>
                        </tbody>
                        <tfoot>
                            <td>Total: </td>
                            <td>{{tiendaCtrl.carrito.precioTotal}} </td>
                            <td>{{tiendaCtrl.carrito.cantidadTotal}} </td>
                            <td><button class="btn btn-success" ng-click="tiendaCtrl.comprar()" type="button">Comprar</button></td>
                        </tfoot>
                    </table>
                    <span ng-if="tiendaCtrl.compraExitosa==true;">
                        La compra ha sido exitosa. <a href="{{tiendaCtrl.rutas.appBaseUrl+tiendaCtrl.rutas.compra}}">Ir a mis Compras</a>
                    </span>
                </div>
            </aside>
        </div>
        
        <div class="footer-wrapper row">
            <footer class="col-xs-12">
                    <header>
                        <h2>Links Oficiales</h2>
                    </header>
                    <a href="#/">Inicio</a> |
                    <a href="http://www.queenonline.com/" target="_blank">Sitio Oficial</a> | 
                    <a href="#/contacto">Contacto</a>
            </footer>
        </div>
    
    </div>